<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<%= render 'layouts/header' %>
  <header class="business-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="tagline">Liverpool Futsal</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <section class="pricing" id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title st-center">
              <h3>Lapangan 1</h3>
              <div class="pricing-table" style="border-top: 0px; border-bottom: 0px; border: 0px;">
                <div class="pricing-body">
                  <ul>
                    <li><i class="fa fa-check"></i> AVAILABLE</li>	
                  </ul>
                  <ul>
                    <li><i class="fa fa-times" style="background-color: #ffffff"></i> UNAVAILABLE</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 colmdcust">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Monday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 08.00 - 09.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 09.00 - 10.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 10.00 - 11.00</li></a>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <li><i class="fa fa-times"></i> 12.00 - 13.00</li>
                  <li><i class="fa fa-times"></i> 13.00 - 14.00</li>
                  <li><i class="fa fa-times"></i> 14.00 - 15.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 15.00 - 16.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 16.00 - 17.00</li></a>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <li><i class="fa fa-times"></i> 18.00 - 19.00</li>
                  <li><i class="fa fa-times"></i> 19.00 - 20.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 20.00 - 21.00</li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 colmdcust">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Tuesday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <li><i class="fa fa-times"></i> 08.00 - 09.00</li>
                  <li><i class="fa fa-times"></i> 09.00 - 10.00</li>
                  <li><i class="fa fa-times"></i> 10.00 - 11.00</li>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <li><i class="fa fa-times"></i> 12.00 - 13.00</li>
                  <li><i class="fa fa-times"></i> 13.00 - 14.00</li>
                  <li><i class="fa fa-times"></i> 14.00 - 15.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 15.00 - 16.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 16.00 - 17.00</li></a>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <li><i class="fa fa-times"></i> 18.00 - 19.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 19.00 - 20.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 20.00 - 21.00</li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 colmdcust" style="padding-left:0px;padding-right:0px">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Wednesday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 08.00 - 09.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 09.00 - 10.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 10.00 - 11.00</li></a>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <li><i class="fa fa-times"></i> 12.00 - 13.00</li>
                  <li><i class="fa fa-times"></i> 13.00 - 14.00</li>
                  <li><i class="fa fa-times"></i> 14.00 - 15.00</li>
                  <li><i class="fa fa-times"></i> 15.00 - 16.00</li>
                  <li><i class="fa fa-times"></i> 16.00 - 17.00</li>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <li><i class="fa fa-times"></i> 18.00 - 19.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 19.00 - 20.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 20.00 - 21.00</li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 colmdcust">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Thursday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <li><i class="fa fa-times"></i> 08.00 - 09.00</li>
                  <li><i class="fa fa-times"></i> 09.00 - 10.00</li>
                  <li><i class="fa fa-times"></i> 10.00 - 11.00</li>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <li><i class="fa fa-times"></i> 12.00 - 13.00</li>
                  <li><i class="fa fa-times"></i> 13.00 - 14.00</li>
                  <li><i class="fa fa-times"></i> 14.00 - 15.00</li>
                  <li><i class="fa fa-times"></i> 15.00 - 16.00</li>
                  <li><i class="fa fa-times"></i> 16.00 - 17.00</li>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <li><i class="fa fa-times"></i> 18.00 - 19.00</li>
                  <li><i class="fa fa-times"></i> 19.00 - 20.00</li>
                  <li><i class="fa fa-times"></i> 20.00 - 21.00</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 colmdcust">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Friday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 08.00 - 09.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 09.00 - 10.00</li></a>
                  <li><i class="fa fa-times"></i> 10.00 - 11.00</li>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 12.00 - 13.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 13.00 - 14.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 14.00 - 15.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 15.00 - 16.00</li></a>
                  <li><i class="fa fa-times"></i> 16.00 - 17.00</li>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 18.00 - 19.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 19.00 - 20.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 20.00 - 21.00</li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 colmdcust">
            <div class="pricing-table">
              <div class="pricing-header">
                <div class="pt-price">Saturday</div>
              </div>
              <div class="pricing-body">
                <ul>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 08.00 - 09.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 09.00 - 10.00</li></a>
                  <li><i class="fa fa-times"></i> 10.00 - 11.00</li>
                  <li><i class="fa fa-times"></i> 11.00 - 12.00</li>
                  <li><i class="fa fa-times"></i> 12.00 - 13.00</li>
                  <li><i class="fa fa-times"></i> 13.00 - 14.00</li>
                  <li><i class="fa fa-times"></i> 14.00 - 15.00</li>
                  <li><i class="fa fa-times"></i> 15.00 - 16.00</li>
                  <li><i class="fa fa-times"></i> 16.00 - 17.00</li>
                  <li><i class="fa fa-times"></i> 17.00 - 18.00</li>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 18.00 - 19.00</li></a>
                  <a data-toggle="modal" href="#myModal"><li><i class="fa fa-check"></i> 19.00 - 20.00</li></a>
                  <li><i class="fa fa-times"></i> 20.00 - 21.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="myModal" class="modal fade in">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                  <h4 class="modal-title">Lapangan 1</h4>
                </div>
                <div class="modal-body">
                  <h4>Confirmation</h4>
                  <p>Are You Sure Want to Book This Field?</p>
                </div>
                <div class="modal-footer">
                  <div class="btn-group">
                    <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <a href="index.html"><button class="btn btn-primary" onclick="myFunction()"><span class="glyphicon glyphicon-check"></span> Yes</button></a>
                  </div>
                </div>

              </div><!-- /.modal-content -->
            </div><!-- /.modal-dalog -->
          </div><!-- /.modal -->
        </div>
      </div>
    </section>
  </div>
<%= render 'layouts/footer' %>

